<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.georkouk.theguardaians">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.TheGuardAIans">
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:multiprocess="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:multiprocess="true"/>
        <activity
            android:name=".NotificationActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true" />
        <activity android:name=".SplashPermissionsActivity" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>